<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div class="index-header">
        <h1 class="logo hide-text"><img src="../images/res/nk.png" alt=""></h1>
        <h2 class="subtitle">
            <#if msg != "">
                <font color="#dc143c">${msg}</font>
                <#else>
                    与世界分享你的知识、经验和见解
            </#if>

        </h2>
    </div>
    <form id="regloginform" method="post">
        <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
        <div class="group-inputs">
            <div class="email input-wrapper">
                <input type="text" name="username" aria-label="用户名" placeholder="用户名" required="">
            </div>
            <div class="input-wrapper">
                <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
            </div>
        </div>
        <div class="button-wrapper command clearfix">
            <button class="sign-button submit" type="submit" onclick="form=document.getElementById('regloginform');form.action='/loginaction/'">登录</button>
        </div>
    </form>
</body>
</html>