<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>帖子</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
<body>
    <div class="index-header">
        <h1 class="logo hide-text"><img src="../images/res/nk.png" alt=""></h1>
        <h4 class="subtitle">
            <font color="#dc143c">${posting.title}</font>
        </h4>
        作者：${user.name}<br/>
        时间：${posting.createdDate?string('yyyy-MM-dd')}<br/>
        评论数：${posting.count}<br/>
    </div>
    ----------------------------------------------------------------------------------<br/>
    <div>
        ${posting.content}<br/>
    </div>
    <div>
        <form id="postingForm" method="post">
            <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
            <div class="group-inputs">
                <div class="email input-wrapper">
                    <input type="" name="title" aria-label="主题" placeholder="主题" required="">
                </div>
                <div class="input-wrapper">
                    <input type="text" name="content" aria-label="内容" placeholder="内容" required="" width="200", height="100">
                </div>
            </div>
            <div class="button-wrapper command clearfix">
                <button class="sign-button submit" type="submit" onclick="form=document.getElementById('postingForm');form.action='/person/${user.id}/addposting'">发布</button>
            </div>
        </form>
    </div>
    -------------------------------------------------------------------------------------<br/>
    <div>
            <#list vos as vo>
                ----------------------------------------------------------------------<br/>
                <img src="${vo.sendU.headURL}" width="20", height="20"><br/>
                昵称：${vo.sendU.name}<br/>
                内容：${vo.comment.content}<br/>
                时间：${vo.comment.createdDate?string('yyyy-MM-dd')}<br/>
            </#list>
    </div>
</body>
</html>