<!DOCTYPE html>
<html lang="zh-CN"
      class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>注册</title>
</head>
<body>
        <div class="index-header">
            <h1 class="logo hide-text"><img src="../images/res/nk.png" alt=""></h1>
            <h2 class="subtitle">
                <#if msg != "">
                    <font color="#dc143c">${msg}</font>
                <#else>
                    与世界分享你的知识、经验和见解
                </#if>

            </h2>
        </div>
        <form id="regloginform" method="post">
                    <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                    <div class="group-inputs">
                        <div class="email input-wrapper">
                            <input type="text" name="username" aria-label="用户名" placeholder="用户名" required="">
                        </div>
                        <div class="input-wrapper">
                            <input type="phonenumber" name="phonenumber" aria-label="手机号码" placeholder="手机号码" required="">
                        </div>
                        <div class="input-wrapper">
                            <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
                        </div>
                        <div class="input-wrapper">
                            <input type="gender" name="gender" aria-label="性别" placeholder="性别" required="">
                        </div>
                        <div class="input-wrapper">
                            <input type="grade" name="grade" aria-label="类型" placeholder="类型" required="">
                        </div>
                    </div>
                    <input type="hidden" name="next" value="${next!""}"/>
                    <div>
                        <button class="sign-button submit" type="submit" onclick="form=document.getElementById('regloginform');form.action='/reg/'">注册</button>
                    </div>
                    <div class="signin-misc-wrapper clearfix">
                        <label class="remember-me">
                            <input type="checkbox" name="rememberme" checked="" value="true"> 记住我
                        </label>
                        <a class="unable-login" href="#">无法登录?</a>
                    </div>
        </form>
</body>
</html>